<p-menubar [model]="items">
  <p-button label="Menor disponibilidade" (click)="showDialog()" styleClass="orange-button"></p-button>
</p-menubar>

<p-dialog header="Title" [(visible)]="display">
  O(s) estado(s) com maior indisponibilidade é(são):
  
  <div *ngIf="test; then thenBlock else elseBlock"></div>
  <ng-template #elseBlock>
    <h4>Estão todos empatados em 0!!</h4></ng-template>
  <ng-template #thenBlock>
    <h4 *ngFor="let e of indisponivel">
      {{e.nome}} 
    </h4>
  </ng-template>
  Parabéns!!
</p-dialog>

<router-outlet></router-outlet>